<html>
<h1>Evento: {{ evento.nome }}</h1>
<p>Categoria: {{ evento.categoria.nome }}</p>
<p>{% if evento.local %}Local: {{ evento.local }} {% endif %}</p>
<p>{% if evento.link %}Link: {{ evento.link }} {% endif %}</p>
<p>Data: {% if evento.data %}{{evento.data | date:"d/m/Y"}}{% else %}a definir.{% endif %}</p>
<p>Quantidade de participantes: {{ evento.participantes }}</p>
<br />
<form action="{% url 'participar' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="evento_id" value="{{ evento.id }}">
    <input type="submit" value="Participar">
</form>
<p><a href="{% url 'listar_eventos' %}">Ir para listagem de eventos</a></p>

</html>